<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Machine Learning Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('machine_learning') }}">Machine Learning</a>
        <a href="{{ url_for('types') }}">Types</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>